@model BarberRegistrationModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_layout";
    ViewBag.Image = "url('/images/Registration.png')";
    ViewBag.Title = "Редактирование Барбера";
    ViewBag.PageName = "Редактирование Барбера";
    ViewBag.Color = "bg-light";
    ViewBag.Container = "container";
}

<div class="row d-flex">
    <div class="col-md-12 ftco-animate makereservation p-5 bg-light fadeInUp ftco-animated">
        <form asp-action="EditBarber" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-12">
                    <input asp-for="@Model.Barber.BarbershopId" type="hidden" />
                    <input asp-for="@Model.Barber.BarberId" type="hidden" />
                    <div class="form-group">
                        <label asp-for="@Model.Barber.Email">E-mail</label>
                        <input asp-for="@Model.Barber.Email" type="email" class="form-control" placeholder="E-mail" data-val="true" data-val-required="The E-mail is required.">
                        <span asp-validation-for="@Model.Barber.Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="@Model.Barber.FirstName">Имя</label>
                        <input asp-for="@Model.Barber.FirstName" type="text" class="form-control" placeholder="Имя" data-val="true" data-val-required="The Name is required.">
                        <span asp-validation-for="@Model.Barber.FirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="@Model.Barber.LastName">Фамилия</label>
                        <input asp-for="@Model.Barber.LastName" type="text" class="form-control" placeholder="Фамилия" data-val="true" data-val-required="The Last Name is required.">
                        <span asp-validation-for="@Model.Barber.LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Телефон</label>
                        <input asp-for="@Model.Barber.Telephone" type="text" class="form-control" placeholder="Номер телефона" data-val="true" data-val-required="The Telephone is required.">
                        <span asp-validation-for="@Model.Barber.Telephone" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Instagram</label>
                        <input asp-for="@Model.Barber.Instagram" type="text" class="form-control" placeholder="Ссылка на Instagram " data-val="true" data-val-required="The Description is required.">
                        <span asp-validation-for="@Model.Barber.Instagram" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Facebook</label>
                        <input asp-for="@Model.Barber.Facebook" type="text" class="form-control" placeholder="Ссылка на Facebook" data-val="true" data-val-required="The Description is required." />
                        <span asp-validation-for="@Model.Barber.Facebook" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <div>
                            <label>Загрузка изображения</label>
                        </div>
                        <div class="btn btn-primary py-3 px-5 text-center" onclick="addImage()">
                            Выбрать Изображение
                        </div>
                        <div>
                            <input asp-for="@Model.BarberImage" id="addImage" type="file" accept="image/*" name="BarberImage" value="Выбрать изображение" class="invisible" /><br />
                        </div>
                    </div>
                </div>
                <div class="col-md-12 text-danger" asp-validation-summary="All"></div>
                <div class="col-md-12 mt-3 text-center">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary py-3 px-5 text-center">Изменить</button>
                        <button type="reset" class="btn btn-primary py-3 px-5 text-center">Отменить</button>
                    </div>
                </div>
                <div class="col-md-12 mt-3 text-center">
                    <div class="form-group">
                        <a asp-action="DeleteBarber" asp-route-id="@Model.Barber.BarberId" class="btn btn-danger py-3 px-5 text-center">Удалить Барбера </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<environment class="Development">
    <script>
        function addImage() {
            document.getElementById("addImage").click();
        }
    </script>
</environment>